
@{
    ViewData["Title"] = "Diary2";
    Layout = "~/Views/Shared/layout.cshtml";
}
<div class="row m-0">
    <div class="col-md-12 ml-5">
        <label id="lbname" class="ml-5"><span style="text-align:center"> <h5>Naresh saini</h5></span></label>
        <label id="lbname" class="ml-5"><span>Class X A</span></label>

    </div>
    <div class="col-md-12 m-3">
        <center>
            <h6>Date</h6>

        </center>
        <center>
            <input id="Text1" type="date" style=" width: 180px; height: 35px; border-radius: 10px 10px 10px 10px;font-size: large" />

        </center>

    </div>
    <div class=" col-md-12 mt-3 m-3">
        <center>

            <h6>
                Teacher Name
                <br />

                <select id=" ddlteachername" typeof="text" style="width:190px;height:35px;font-size:large">
                    <option>Naresh Saini</option>
                    <option>Amit</option>
                </select>
            </h6>
        </center>
    </div>
    <form id="diarymaster" name="diarymaster">
        <div class=" col-md-12 mt-1 m-2 ml-3 font-weight-bold" style="font-size:large;font-family:sans-serif;">
            <h6>
                Teacher Massage
                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<input class="ml-5" type="submit" value="Submit" style="width:100px;height:35px" />

            </h6>
            <textarea id="txtteachermsg" class="mt-3" typeof="text" style="width:358px;height:145px;text-align:justify;font-size:large"></textarea>




        </div>
    </form>
        <div class=" col-md-12 mt-1 m-2 ml-3 font-weight-bold" style="font-size:large;font-family:sans-serif;">
            <h6>
                Parents Massage

            </h6>
            <textarea id="bdbckj" class="mt-3" typeof="text" style="width:358px;height:145px;text-align:justify;font-size:large"></textarea>
            <br />
            <div class="ml-5 mt-2">
                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<input class="ml-5 mt-2" id="Button1" type="button" value="Submit" style="width:100px;height:35px" />

            </div>


        </div>
   

</div>



<script src="~/js/jquery-3.0.0.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#diarymaster").submit(function (e) {
            e.preventDefault();
            var apiurl = "https://180.149.242.217/ExcellentBasics/API/AddDiary";
            var data = {
                teachermessage: $("#txtteachermsg").val()
               

            }
            $.ajax({
                url: apiurl,
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (d) {
                    alert("Saved Successfully");
                    location.reload();
                    document.getElementById("diarymaster").reset();
                },
                error: function () {
                    alert("Error please try again");
                }
            });
        });
    });

</script>